<div>
  <h3>Country Details</h3>
  <button mat-button routerLink="/">Countries</button>
  <button mat-button routerLink="/api">Django</button>
</div>
<kendo-grid
  [kendoGridBinding]="gridView"
  [pageSize]="20"
  [pageable]="true"
  [reorderable]="true"
  [resizable]="true"
  [height]="600"
  [sortable]="true"
  [filterable]="true"
  [columnMenu]="{ filter: true }"
  ><kendo-grid-column field="sno" title="Sno" [width]="100"></kendo-grid-column>
  <kendo-grid-column title="Flags" [width]="100"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <div>
        <img
          align
          [src]="dataItem.flags[1]"
          alt="Flag"
          width="100%"
          height="auto"
        />
      </div> </ng-template
  ></kendo-grid-column>
  <kendo-grid-column
    [width]="150"
    field="name.common"
    title="Country Name"
  ></kendo-grid-column>
  <kendo-grid-column
    [width]="150"
    field="capital"
    title="Capital"
  ></kendo-grid-column>
  <kendo-grid-column
    [width]="100"
    field="region"
    title="Region"
  ></kendo-grid-column>
  <kendo-grid-column field="currenciesInfo" title="Currencies" [width]="170"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <div>{{ dataItem.currenciesInfo }}</div>
    </ng-template></kendo-grid-column
  >
  <kendo-grid-column
    [width]="150"
    field="population"
    title="Population"
  ></kendo-grid-column>
  <kendo-grid-column [width]="250" field="timezonesInfo" title="Time Zones"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <div *ngFor="let timezone of dataItem.timezonesInfo.split('\n')">
        {{ timezone }}
      </div>
    </ng-template></kendo-grid-column
  >
</kendo-grid>
<router-outlet></router-outlet>
