<h3>Country Details</h3>
<kendo-grid
  [kendoGridBinding]="gridView"
  [pageSize]="20"
  [pageable]="true"
  [reorderable]="true"
  [resizable]="true"
  [height]="600"
  [sortable]="true"
  [columnMenu]="{ filter: true }"
  ><kendo-grid-column field="sno" title="Sno" [width]="80"></kendo-grid-column>
  <kendo-grid-column title="Flags" [width]="100"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex; justify-content: center">
        <img
          align
          [src]="dataItem.flags[1]"
          alt="Flag"
          width="50"
          height="auto"
        />
      </div> </ng-template
  ></kendo-grid-column>
  <kendo-grid-column [width]="150"
    field="name.common"
    title="Country Name"
  ></kendo-grid-column>
  <kendo-grid-column [width]="150" field="capital" title="Capital"></kendo-grid-column>
  <kendo-grid-column
    [width]="100"
    field="region"
    title="Region"
  ></kendo-grid-column>
  <kendo-grid-column field="currenciesInfo" title="Currencies" [width]="170"
    ><ng-template kendoGridCellTemplate let-dataItem>
      <div>{{ dataItem.currenciesInfo }}</div>
    </ng-template></kendo-grid-column
  >
  <kendo-grid-column [width]="150" field="population" title="Population"></kendo-grid-column>
  <kendo-grid-column [width]="250" field="timezones" title="Time Zones"></kendo-grid-column>
</kendo-grid>
