h3 {
  background-image: url("https://th.bing.com/th?id=OIP.p26gMHzS56hAkjkOtqxzaQHaFT&w=295&h=211&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
  background-size: contain;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
